# Системные файлы
.DS_Store
Thumbs.db

# Файлы IDE
.idea/
*.iml
*.ipr
*.iws

# Директории сборки
/target/
out/

# Двоичные файлы
*.class
*.jar
*.war

# Логи
*.log

# Базы данных
*.db

# Временные файлы
*.tmp
*.temp

# Конфиденциальные файлы
*.env
*.secret

# Другие игнорируемые файлы
*.DS_Store
*.swp
*.swo
